body {
 margin: 0;
 padding: 0;
 background-size: cover;
 font-family: sans-serif;
}
label {
 margin: 0 0 10px;
 padding: 0;
 font-size: 20px;
}
.box{
 position: absolute;
 top: 50%;
 left: 50%;
 width: 500px ;
 transform: translate(-50%,-50%);
}
input{
 /*position: absolute;*/
 display: inline-block;
 font-size: 20px;
 box-sizing: border-box;
 transition: 0.5s;

}
#recherche{
 width: 340px;
 height: 50px;
 outline: none;
 padding: 0 25px;
 border-radius: 25px 0 0 25px;
 border: 2px solid black;
}
#button{
 position: absolute;
 width:150px;
 height: 50px;
 outline: none;
 border: 2px solid rgb(0, 0, 0);
cursor: pointer;
border-radius: 0 25px 25px 0;
background: #ffc107;

}
#button:hover{
 background: #ff5722;
}

